@import "./reset.scss";

// $grey: #c6caca;
$gridGap: 5px;
$cellRadius: 12px; 

body{
    height: 100vh;
    background-color: #7d4aa9;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.wrapper{
    max-width: 80%;
    height: 95%;
    background-color: black;
    padding: 20px;
    box-sizing: border-box;

    .grid{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        height: 100%;
        gap: $gridGap;

        // 💡Target: All the first child in the grid
        // & > * {
        //     background-color: white;
        //     border-radius: 8px;
        // }

        header {
            background-color: white;
            border-radius: 8px;
        }
        .grid__col{
            &:first-child{
                background-color: black;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1.8fr 1fr;
                gap: $gridGap;
            }

            &:last-child{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1.8fr 1fr;
                // grid-template-rows: ;
                gap: $gridGap;
                .subgrid{
                    display: grid;
                    grid-template-columns: 1.5fr 1fr;
                    grid-template-rows: 1.3fr 1fr;
                }
                .blog-post{
                    background-color: white;
                    border-radius: $cellRadius;
                }
            }
        }

        .header{
            grid-column: span 2;
            border-radius: $cellRadius;
        }

        .grid__img{
            background-image: url("https://source.unsplash.com/random");
            background-size: cover;
            border-radius: $cellRadius;
        }
    }

    
}

